{
    "timeout": 10,
    "minMsi": 100,
    "minCoveredMsi": 100,
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "PHPCodeSniffer"
        ]
    },
    "logs": {
        "html": ".qa/infection.html"
    },
    "mutators": {
        "@default": true
    }
}
