<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" beStrictAboutTestsThatDoNotTestAnything="false" bootstrap="vendor/autoload.php" colors="true" executionOrder="random" resolveDependencies="true" stopOnRisky="true" timeoutForSmallTests="2" timeoutForLargeTests="180" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".qa/.phpunit.cache">
  <coverage>
    <report>
      <text outputFile="php://stdout"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="AllUnitTests">
      <directory>test</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
</phpunit>
